body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    background-image: url('/images/back2.jpg');
    background-size: cover;
    background-position-y: 80%;
    background-attachment: fixed;
    background-repeat: no-repeat;

}
  
  #cart {
    margin-bottom: 20px;

  }
  
  .item {
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    border: 1px solid #e0e0e0;
    background-color: #f9f9f9;
    border-radius: 20%;
  }
  
  .item-name {
    flex: 1;
    font-weight: bold;
  }
  
  .quantity-btn, .delete-btn {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
  }

  
  .price {
    margin-left: auto;
    font-weight: bold;

  }
  



.like-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px 10px;
    transition: background-color 0.3s;
    font-size: 25px;
  }
  
  .like-btn .fas.fa-heart {
    color: #ccc; /* Default color */
  }
  
  .like-btn .fas.fa-heart.liked {
    color: red; /* Liked color */
  }
  

  

  .like-btn {

    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .like-btn i {
    margin-right: 5px;
    color: transparent;
    transition: color 0.3s;
  }
  
 
  
 
  #total-price {
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
  
}
  #total{
    text-align: center;
    font-size: 25px;
  }

  h1{
    text-align: center;
    font-style: italic;
  }